<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >

    <div class="w-20">
        <img src="assets/images/croco/67372345_109018630440933_8444232885954674688_n.jpg" />
    </div>
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    {{ title }}
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <form
                class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"
                #traineeshipForm="ngForm"
                (ngSubmit)="addEditTraineeship()" >

                  <!-- traineeship name -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Traineeship Name</mat-label>

                        <input
                            matInput
                            placeholder="Traineeship Name"
                            [(ngModel)]="traineeship.nameOfTraineeship"
                            name="TraineeshipName"
                        />
                    </mat-form-field>
                </div>

                <!-- type Of traineeship -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Type</mat-label>
                        <input
                            matInput
                            placeholder="Type"
                            [(ngModel)]="traineeship.traineeship"
                            name="traineeship"
                        />
                    </mat-form-field>
                </div>

                 <!-- price -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Price(En Dinar Tunisienne)</mat-label>
                        <input
                            matInput
                            placeholder="Price"
                            [(ngModel)]="traineeship.price"
                            name="price"
                        />
                    </mat-form-field>
                </div>
                <!-- start date -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Start Date</mat-label>
                        <input
                            matInput
                            placeholder="start Date"
                            [(ngModel)]="traineeship.startDate"
                            name="startDate"
                        />
                    </mat-form-field>
                </div>
                <!-- final date -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Final Date</mat-label>
                        <input
                            matInput
                            placeholder="final Date"
                            [(ngModel)]="traineeship.finalDate"
                            name="finalDate"
                        />
                    </mat-form-field>
                </div>
                <!-- state -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>State</mat-label>
                        <input
                            matInput
                            placeholder="State"
                            [(ngModel)]="traineeship.state"
                            name="state"
                        />
                    </mat-form-field>
                </div>
                <!-- number Of Hours -->
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>number Of Hours</mat-label>
                        <input
                            matInput
                            placeholder="numberOfHours"
                            [(ngModel)]="traineeship.numberOfHours"
                            name="numberOfHours"
                        />
                    </mat-form-field>
                </div>
               <!-- buttons -->
                <div>
                    <button mat-button color="accent" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
