<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
    <div class="w-22">
        <img src="assets/images/croco/67372345_109018630440933_8444232885954674688_n.jpg" />
    </div>
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    {{ title }}
                </h2>
            </div>
        </div>
    </div>
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <form
                class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
                #addPresence="ngForm"
                (ngSubmit)="add()"
            >
                <p class="text-lg font-medium">Presence information</p>
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <mat-select
                        placeholder="presence"
                        name="presence"
                        [(ngModel)]="presence.presence"
                    >
                        <mat-option value="true">true</mat-option>
                        <mat-option value="false">false</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pl-3">
                        <mat-select
                            placeholder="student Name"
                            [(ngModel)]="presence._idStudent"
                            name="id student"
                        >
                            <mat-option
                                *ngFor="let student of students"
                                [value]="student._id"
                                >{{ student.firstName }}
                                {{ student.lastName }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pl-3">
                        <mat-select
                            placeholder="Session Name"
                            [(ngModel)]="presence._idSession"
                            name="id session"
                        >
                            <mat-option
                                *ngFor="let session of sessions"
                                [value]="session._id"
                                >{{ session.nameSession }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-divider class="mt-6 mb-10"></mat-divider>

                <div
                    class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
                >
                    <button class="px-6 ml-3" mat-flat-button color="primary">
                        {{ title }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
